
//                     nextflow based ChIP-seq pipeline config

// docker settings
docker.enabled = true
process.container = 'uschwartz/nucmacc'
docker.runOptions='-u $(id -u):$(id -g)'



// Global default params, used in configs
params {
  //                    Directories
  // path to Input
  csvInput="$projectDir/toyData/fastqIN.csv"
  // path to Output
  outDir="$HOME/test/"
  // path to project
  project="$projectDir"
  // path to pipeline running reports
  tracedir = "${params.outDir}/pipeline_info"
  // path to bowtie2 index
  genomeIdx=false
  // path to genome fasta
  genome="$HOME/Annotation/Drosophila_melanogaster_UCSC_dm3/Drosophila_melanogaster/UCSC/dm3/Sequence/WholeGenomeFasta/genome.fa"

  //                    Options
  help=false
  //Path to file for filtering regions
  blacklist=false
  // test RUN with toyData
  test = false


}

process {
    withLabel: big {
        cpus = 5
        memory = 50.GB
    }
    withLabel: mid {
        cpus = 3
        memory = 16.GB
    }
}


// reporting

manifest {
  name = 'uschwartz/explore_ChIPseq'
  author = 'Uwe Schwartz'
  description = 'Nextflow ChIP-seq explore analysis pipeline'
  mainScript = 'main.nf'
  version = '01.0.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
