
//                     nextflow based RNA-seq pipeline config

// Global default params, used in configs
params {
  //                    Directories
  // path to fastq files
  fastqPath="$baseDir/toyData/raw_data"
  // path where output is stored
  outPath="$baseDir/toyData/out"
  // path to STAR index
  STARidxPath="$baseDir/toyData/genome/sacCer3/STARidx"
  // path to GTF files
  gtfPath="$baseDir/toyData/genome/sacCer3/nextflow"
  // path to GTF file used for counting
  gtfFile="protein_coding.gtf"
  // path to dupRadar script
  dupRadarPath = "$baseDir/support_scripts/dupRadar_script.R"
  // path to pipeline running reports
  tracedir = "${params.outPath}/pipeline_info"



  // General options
  pairedEnd = false
  strandness= "reverse"
  // name selector
  exprName = '*.fastq.gz'
  // name selector paired endReads
  exprNamePE = '*{1,2}.fastq.gz'
  // test alignment with few reads
  testRUN = false
  // paramter to omit sorting in STAR
  highMemory=false

  help=false

  // STAR options
  zipSTAR="gunzip"

  // Trimming options
  trim=false
  adapters="$baseDir/trimmingAdapter/NGS_contaminants.fa"

}


process {
    withLabel: big_mem {
        cpus = 6
        memory = 60.GB
        queue = 'long'
    }
}

process {
    withLabel: mid_mem {
        cpus = 3
        memory = 32.GB
        queue = 'long'
    }
}

manifest {
  name = 'nextflow/RNAseq'
  author = 'Uwe Schwartz'
  description = 'Nextflow RNA-Seq analysis pipeline'
  mainScript = 'main.nf'
  version = '19.10.0'
}

// pipeline reports
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
  overwrite = true
}
